{{#each posts as |post|}}
<div class="card text-light bg-info mb-3">
    <div class="card-header container">
     <a href="/post/{{id}}" class="col-3">{{title}}</a>
    <span class="col-9">Posted by {{user.username}} on {{format_date date_created}}</span></div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
    </div>
</div>
{{/each}}