{{#each posts as |post|}}
<div class="card text-light bg-info mb-3">
    <div class="card-header container">
    <h4 class="col-3 row"><a href="/post/{{id}}" class="text-light">{{title}}</a></h4>
    <span class="col-9 row">Posted by {{user.username}} on {{format_date date_created}}</span>
    <div class="card-body">
        <p class="card-text bg-light text-dark p-2 rounded">{{content}}</p>
    </div>
</div>
{{/each}}