<div class="text-center post" data-post="{{id}}">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Created by {{user.username}} on {{format_date date_created}}</p>
</div>
{{#each comments as |comment|}}
<div class="card text-white bg-info mb-3">
    <div class="card-body">
    <p class="card-text">{{comment.user_comment}}</p>
    <p class="card-text">- {{comment.user.username}}, {{format_date comment.date_created}}</p>
    </div>
</div>
{{/each}}
<div class="card text-white bg-info mb-3">
    <div class="card-header container">
                 <h4>Add a comment</h4>
    </div>
    <div class="card-body container">
        <textarea id="new-comment" class="col-12"></textarea>
        <button class="btn btn-primary" id="send">Submit</button>
    </div>
</div>
<script src="/public/js/newComment.js"></script>